DEBIAN_RELEASE=stable
DEBIAN_MIRROR=http://deb.debian.org/debian/
DEBIAN_SECURITY_MIRROR=http://security.debian.org/debian-security
DEBIAN_COMPONENTS="main contrib non-free non-free-firmware"
TARGET_KERNEL_PACKAGE=linux-image-amd64
TARGET_INSTALLER=calamares
TARGET_DESKTOP=xfce
TARGET_KDE_PACKAGE=kde-standard
TARGET_MATE_PACKAGE=mate-desktop-environment
TARGET_MATE_EXTRAS=0
TARGET_GNOME_INSTALL_RECOMMENDS=0
TARGET_BROWSER=none
TARGET_BRAVE_CHANNEL=none
TARGET_LIBREWOLF=0
TARGET_FIREFOX=0
TARGET_FIREFOX_ESR=0
TARGET_THUNDERBIRD=0
TARGET_CHROMIUM=0
TARGET_PACSTALL=0
TARGET_FWUPD=0
TARGET_WEB_SERVER=0
TARGET_SSH_SERVER=0
TARGET_COCKPIT=0
TARGET_LAPTOP=0
TARGET_DEB_MULTIMEDIA=0
TARGET_DEB_MULTIMEDIA_PACKAGES=0
TARGET_LOCALE=en_US.UTF-8
TARGET_KEYBOARD_LAYOUT=us
TARGET_KEYBOARD_VARIANT=
TARGET_NAME=
GRUB_LIVEBOOT_LABEL="Try Debian before installing"
GRUB_TTY_ONLY=0
WORKSPACE_PARENT=
OUTPUT_DIR=
HOOKS_DIR=
INTERACTIVE=0
NO_CONFIRM=0
CAPER_SRC_DIR=/home/jimedrand/Git/caper
CAPER_DEB_PATH=
